.show-btn {
  font-size: 16px;
  background-color: #001428;
  color: white;
  width: 250px;
  height: 50px;
  text-decoration: none;
  border: none;
  border-radius: 5px;

  &:hover {
    background-color: #0b2744;
    cursor: pointer;
  }

  &:disabled,
  &:hover.show-btn:disabled {
    background-color: grey;
    cursor: default;
  }
}
