// Sass Mixins
@mixin atTablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin atDesktop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

@mixin talentImgSizes {
  height: 170px;
  width: 170px;
}

@mixin flipPerspective($pixels: 800px) {
  -webkit-perspective: $pixels;
  -ms-perspective: $pixels;
  perspective: $pixels;
}

@mixin flipTransition {
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@mixin fullWidthAndHeight {
  width: 100%;
  height: 100%;
}

@mixin hiddenBackface {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

@mixin yRotate180 {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

@mixin shimmer($x, $y) {
  @keyframes placeHolderShimmer {
    0% {
      background-position: -$x $y;
    }
    100% {
      background-position: $x $y;
    }
  }
}

@mixin loadingBackground($duration, $anim-name) {
  animation-duration: $duration;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: $anim-name;
  animation-timing-function: linear;
  background: #f6f6f6;
  background: linear-gradient(to right, #f6f6f6 8%, #f0f0f0 18%, #f6f6f6 33%);
  background-size: 1000px 190px;
  position: relative;
}
