// Sass Variables
$main-font: 'Open Sans', sans-serif;
$secondary-font: 'Rubik', sans-serif;
$code-font: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;

// Colors
$main-font-clr: #000;
$alt-font-clr: #fff;
$user-icon-clr: #d3d3d3;
$teal-clr: #61dafb;
$green-clr: #5eaf48;

// Backgrounds
$dark-bg: #001428;
$dark-blue-bg: #20232a;
$yellow-bg: #f7df1e;
$purple-bg: #764abc;
$green-bg: #189f20;
$orange-bg: #ea8a01;
$dark-grey-bg: #333;
$light-blue-bg: #80cbd0;
$light-red-bg: #b98f8f;
$light-purple-bg: #aa8db9;
$light-green-bg: #a5b995;
$light-grey-bg: #f5f5f5;
$lighter-blue-bg: #86aedc;
