// Typography rules
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Rubik:wght@400;600&display=swap');
@import '../utilities/variables';

body {
  margin: 0;
  font-family: $main-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: $code-font;
}

h1,
h2,
h3,
button {
  font-family: $secondary-font;
}

h1,
h2 {
  font-weight: 400;
}

h1 {
  font-size: 48px;
}

button {
  font-weight: 600;
}
