@import '../utilities/mixins';

.content {
  margin-top: 30px;
  padding: 0 10px;
  max-width: 100%;

  @include atDesktop {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}
