@import '../utilities/mixins';

.section {
  margin-bottom: 40px;
  & > h2 {
    text-align: left;
  }
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.col {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.justify-space-b {
  justify-content: space-between;
}

@include shimmer(468px, 0);
.animated-background {
  @include loadingBackground(1.25s, placeHolderShimmer);
}
