@import '../scss/utilities/mixins';

.brands-wrapper {
  width: 100%;
  color: #fff;

  @include atDesktop {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}

.brand {
  flex: 1 0 50%;

  @include atTablet {
    flex: 1 0 33%;
  }
}

.brand-logo {
  width: 150px;
  height: 100px;
  object-fit: contain;
}
