@import '../scss/utilities/variables';
@import '../scss/utilities/mixins';

.grid-wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 90px);
  margin-bottom: 40px;

  @include atTablet {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 90px);
  }
}

.grid-box {
  color: $alt-font-clr;
  padding: 0;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;

    @include atTablet {
      grid-column: 1 / 3;
      grid-row: 1 / 3;

      .description {
        font-size: 20px;
      }
    }
  }

  &-2 {
    grid-column: 2;
    grid-row: 1;

    @include atTablet {
      grid-column: 3;
      grid-row: 1;

      .description {
        font-size: 11px;
      }
    }
  }

  &-3 {
    grid-column: 2;
    grid-row: 2;

    @include atTablet {
      grid-column: 3;
      grid-row: 2;
    }
  }

  &-4 {
    grid-column: 3;
    grid-row: 1 / 3;

    @include atTablet {
      grid-column: 4;
      grid-row: 1 / 3;
    }
  }

  &-5 {
    grid-column: 1;
    grid-row: 3 / 5;

    @include atTablet {
      grid-column: 5;
      grid-row: 1 / 3;
    }
  }

  &-6 {
    grid-column: 2 / 4;
    grid-row: 3;

    @include atTablet {
      grid-column: 6 / 8;
      grid-row: 1;
    }
  }

  &-7 {
    grid-column: 2 / 4;
    grid-row: 4;

    @include atTablet {
      grid-column: 6 / 8;
      grid-row: 2;
    }
  }

  &-8 {
    grid-column: 1 / 3;
    grid-row: 5;

    @include atTablet {
      grid-column: 1 / 5;
      grid-row: 3;
    }
  }

  &-9 {
    grid-column: 3;
    grid-row: 5;

    @include atTablet {
      grid-column: 5 / 8;
      grid-row: 3;
    }
  }

  &-10 {
    grid-column: 1 / 4;
    grid-row: 6;

    @include atTablet {
      grid-column: 1 / 8;
      grid-row: 4;
    }
  }

  &-1,
  &-4,
  &-5 {
    font-size: 28px;

    @include atTablet {
      font-size: 36px;
    }
  }

  &-2,
  &-3 {
    font-size: 14px;

    @include atTablet {
      font-size: 18px;
    }
  }

  &-6,
  &-7,
  &-8,
  &-9,
  &-10 {
    font-size: 18px;

    @include atTablet {
      font-size: 24px;
    }
  }

  &-8,
  &-9,
  &-10 {
    .description {
      @include atTablet {
        font-size: 18px;
      }
    }
  }
}

.description {
  font-size: 11px;
  padding: 0 2px;

  @include atTablet {
    font-size: 13px;
  }
}

.flipper {
  height: 100%;
  flex: 1;
  position: relative;
  @include flipPerspective;
}

.flipper-card {
  @include fullWidthAndHeight;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  @include flipTransition;
}

.flipper-front,
.flipper-back {
  position: absolute;
  @include fullWidthAndHeight;
  @include hiddenBackface;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flipper-back,
.flipper-card.flipper-is-flipped {
  @include yRotate180;
}

.react-bg {
  background-color: $dark-blue-bg;
  color: $teal-clr;
}

.javascript-bg {
  background-color: $yellow-bg;
  color: $main-font-clr;
}

.redux-bg {
  background-color: $purple-bg;
}

.c-bg {
  background-color: $green-bg;
}

.java-bg {
  background-color: $orange-bg;
}

.nodejs-bg {
  background-color: $dark-grey-bg;
  color: $green-clr;
}

.htmlcss-bg {
  background-color: $light-blue-bg;
}

.timemanagement-bg {
  background-color: $light-red-bg;
}

.groupdynamic-bg {
  background-color: $light-purple-bg;
}

.presentationskills-bg {
  background-color: $light-green-bg;
}
