@import '../scss/utilities/variables';
@import '../scss/utilities/mixins';

.fact-card {
  border-radius: 10px;
  padding: 30px 20px;
  text-align: left;
  font-size: 18px;
  margin-top: 20px;

  & > p {
    margin: 0;
  }

  &:first-child {
    margin-top: 0;
  }

  &:nth-child(odd) {
    background-color: $light-grey-bg;
  }

  &:nth-child(even) {
    background-color: $lighter-blue-bg;
    color: $alt-font-clr;
    margin-left: 0;
  }

  @include atDesktop {
    /* Targets only the first 2 items */
    &:nth-child(-n + 2) {
      margin-top: 0px;
    }

    &:nth-child(even) {
      margin-left: 40px;
    }

    /* Targets all items, except the first 2. */
    &:nth-child(n + 3) {
      margin-top: 20px;
    }
  }
}

.funfacts {
  flex-direction: column;

  @include atDesktop {
    flex-direction: row;
    flex-wrap: wrap;

    & > div {
      flex: 0 44%;
    }
  }
}

.animated-background {
  background-size: 1100px 60px;
}
