@import '../scss/utilities/variables';

.header {
  height: 60px;
  background-color: $dark-bg;
  color: $alt-font-clr;
  display: flex;
  align-items: center;

  &-logo {
    position: absolute;
    left: 10px;

    & > svg {
      position: relative;
      height: 60px;
    }
  }

  &-menu {
    flex: 200px 1 1;
    display: flex;
    justify-content: center;
  }

  &-text {
    font-family: $secondary-font;
    padding: 10px;
    cursor: pointer;
  }
}
