@import '../scss/utilities/variables';
@import '../scss/components/buttons';
@import '../scss/utilities/mixins';

.material-icons {
  color: $user-icon-clr;
}

.talent-card {
  display: flex;
  flex: 1 0 100%;
  flex-direction: column;
  margin-bottom: 40px;

  @include atTablet {
    flex: 1 0 50%;
  }

  @include atDesktop {
    flex: 1 0 25%;
  }
}

.talent-info > p {
  margin: 8px;
}

.talent-img {
  font-size: 200px;
}

.talent-img-box {
  @include talentImgSizes;
  object-fit: cover;
  border-radius: 170px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.loading-talent-image {
  @include talentImgSizes;
  border-radius: 50%;
  margin: 15px auto;
}

.loading-talent-info {
  margin: 8px;
  height: 44px;

  &:first-child {
    height: 24px;
  }
}
