.brands-wrapper {
  width: 100%;
  color: #fff;
}

.brand {
  flex: 1 0 50%;
}

.brand-logo {
  width: 150px;
  height: 100px;
  object-fit: contain;
}

@media screen and (min-width: 768px) {
  .brand {
    flex: 1 0 33%;
  }
}

@media screen and (min-width: 1200px) {
  .brands-wrapper {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}
