.grid-wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 90px);
  margin-bottom: 40px;
}

.grid-box {
  color: #fff;
  padding: 0;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.description {
  font-size: 11px;
  padding: 0 2px;
}

.flipper {
  height: 100%;
  flex: 1;
  position: relative;
  -webkit-perspective: 800px;
  -ms-perspective: 800px;
  perspective: 800px;
}

.flipper-card {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.flipper-front,
.flipper-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flipper-back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.flipper-card.flipper-is-flipped {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.grid-box-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.grid-box-2 {
  grid-column: 2;
  grid-row: 1;
}

.grid-box-3 {
  grid-column: 2;
  grid-row: 2;
}

.grid-box-4 {
  grid-column: 3;
  grid-row: 1 / 3;
}

.grid-box-5 {
  grid-column: 1;
  grid-row: 3 / 5;
}

.grid-box-6 {
  grid-column: 2 / 4;
  grid-row: 3;
}

.grid-box-7 {
  grid-column: 2 / 4;
  grid-row: 4;
}

.grid-box-8 {
  grid-column: 1 / 3;
  grid-row: 5;
}

.grid-box-9 {
  grid-column: 3;
  grid-row: 5;
}

.grid-box-10 {
  grid-column: 1 / 4;
  grid-row: 6;
}

.react-bg {
  background-color: #20232a;
  color: #61dafb;
}

.javascript-bg {
  background-color: #f7df1e;
  color: #000;
}

.redux-bg {
  background-color: #764abc;
}

.c-bg {
  background-color: #189f20;
}

.java-bg {
  background-color: #ea8a01;
}

.grid-box-1,
.grid-box-4,
.grid-box-5 {
  font-size: 28px;
}

.grid-box-2,
.grid-box-3 {
  font-size: 14px;
}

.grid-box-6,
.grid-box-7,
.grid-box-8,
.grid-box-9,
.grid-box-10 {
  font-size: 18px;
}

.nodejs-bg {
  background-color: #333333;
  color: #5eaf48;
}

.htmlcss-bg {
  background-color: #80cbd0;
}

.timemanagement-bg {
  background-color: #b98f8f;
}

.groupdynamic-bg {
  background-color: #aa8db9;
}

.presentationskills-bg {
  background-color: #a5b995;
}

@media screen and (min-width: 768px) {
  .grid-wrapper {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 90px);
  }

  .grid-box-1 {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }

  .grid-box-2 {
    grid-column: 3;
    grid-row: 1;
  }

  .grid-box-3 {
    grid-column: 3;
    grid-row: 2;
  }

  .grid-box-4 {
    grid-column: 4;
    grid-row: 1 / 3;
  }

  .grid-box-5 {
    grid-column: 5;
    grid-row: 1 / 3;
  }

  .grid-box-6 {
    grid-column: 6 / 8;
    grid-row: 1;
  }

  .grid-box-7 {
    grid-column: 6 / 8;
    grid-row: 2;
  }

  .grid-box-8 {
    grid-column: 1 / 5;
    grid-row: 3;
  }

  .grid-box-9 {
    grid-column: 5 / 8;
    grid-row: 3;
  }

  .grid-box-10 {
    grid-column: 1 / 8;
    grid-row: 4;
  }

  .description {
    font-size: 13px;
  }

  .grid-box-1 .description {
    font-size: 20px;
  }

  .grid-box-2 .description {
    font-size: 11px;
  }

  .grid-box-2,
  .grid-box-3 {
    font-size: 18px;
  }

  .grid-box-1,
  .grid-box-4,
  .grid-box-5 {
    font-size: 36px;
  }

  .grid-box-8 .description,
  .grid-box-9 .description,
  .grid-box-10 .description {
    font-size: 18px;
  }

  .grid-box-6,
  .grid-box-7,
  .grid-box-8,
  .grid-box-9,
  .grid-box-10 {
    font-size: 24px;
  }
}
