.dropdown-container {
  padding: 5px 0 0 0;
  justify-content: space-between;
  flex: 1 1 100%;
}

.dropdown-label {
  margin: 10px 0 10px 0;
  font-weight: bold;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .dropdown-container {
    padding: 0 0 0 10px;
    flex: 0 1 25%;
  }

  .dropdown-label {
    margin: 0 0 10px 0;
  }
}
