.fact-card {
  border-radius: 10px;
  padding: 30px 20px;
  text-align: left;
  font-size: 18px;
  margin-top: 20px;
}

.fact-card > p {
  margin: 0;
}

.fact-card:nth-child(odd) {
  background-color: #f5f5f5;
}

.fact-card:first-child {
  margin-top: 0;
}

.fact-card:nth-child(even) {
  background-color: #86aedc;
  color: #fff;
  margin-left: 0;
}

.funfacts {
  flex-direction: column;
}

.animated-background {
  background-size: 1100px 60px;
}

@media screen and (min-width: 1200px) {
  .funfacts {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .funfacts > div {
    flex: 0 44%;
  }

  /* Targets only the first 2 items */
  .fact-card:nth-child(-n + 2) {
    margin-top: 0px;
  }

  .fact-card:nth-child(even) {
    margin-left: 40px;
  }

  /* Targets all items, except the first 2. */
  .fact-card:nth-child(n + 3) {
    margin-top: 20px;
  }
}
