.grid-container {
  flex: 1 1 100%;
  height: 400px;
  border: 1px solid gray;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.grid-gap-0 {
  grid-gap: 0px;
}

.grid-gap-4 {
  grid-gap: 4px;
}

.grid-pg-box {
  padding: 0;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.grid-pg-box-1 {
  color: #fff;
  background-color: gray;
}

.grid-pg-box-2 {
  color: #fff;
  background-color: pink;
}

.grid-pg-box-3 {
  color: #fff;
  background-color: rgb(89, 112, 214);
}

.grid-pg-box-4 {
  color: #fff;
  background-color: orange;
}

.grid-pg-box-5 {
  color: #fff;
  background-color: rgb(213, 136, 213);
}

.grid-column-1-3 {
  grid-column: 1/3;
}

.grid-column-2-4 {
  grid-column: 2/4;
}

.grid-column-1 {
  grid-column: 1;
}

.grid-column-2 {
  grid-column: 2;
}

.grid-column-3 {
  grid-column: 3;
}

.grid-row-1 {
  grid-row: 1;
}

.grid-row-2 {
  grid-row: 2;
}

.grid-row-3 {
  grid-row: 3;
}

.grid-row-4 {
  grid-row: 4;
}

.grid-row-1-3 {
  grid-row: 1/3;
}

.grid-row-2-5 {
  grid-row: 2/5;
}

@media screen and (min-width: 768px) {
  .grid-container {
    flex: 1 1 75%;
  }
}
