.grid-overlay {
  height: 400px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 0px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 99;
  border: 1px solid #000;
  background-color: rgba(0, 0, 0, 0.1);
  pointer-events: none;
}

.grid-overlay > div {
  border: 1px solid #000;
}

.overlay-box-1-1 {
  grid-row: 1;
  grid-column: 1;
}

.overlay-box-1-2 {
  grid-row: 1;
  grid-column: 2;
}

.overlay-box-1-3 {
  grid-row: 1;
  grid-column: 3;
}

.overlay-box {
  display: flex;
  justify-content: space-between;
}

.overlay-box-1-1 {
  justify-content: flex-start;
}

.overlay-box-1-1 > .line-number:first-child,
.overlay-box-1-2 .line-number:first-child,
.overlay-box-1-3 .line-number:first-child {
  align-self: flex-start;
  margin-top: -22px;
  margin-left: -5px;
}

.overlay-box-1-3 > .line-number:last-child {
  align-self: flex-start;
  justify-self: flex-end;
  margin-top: -22px;
  margin-right: -5px;
}

.overlay-box-1-1 > .line-number:last-child {
  align-self: flex-start;
  margin-left: -14px;
  margin-top: -10px;
}

.overlay-box-2-1 > .line-number,
.overlay-box-3-1 > .line-number {
  align-self: start;
  margin-left: -14px;
  margin-top: -10px;
}

.overlay-box-4-1 {
  flex-direction: column;
}

.overlay-box-4-1 > .line-number:first-child {
  justify-self: flex-start;
  align-self: flex-start;
  margin-left: -14px;
  margin-top: -10px;
}

.overlay-box-4-1 > .line-number:last-child {
  justify-self: flex-start;
  align-self: flex-start;
  margin-left: -14px;
  margin-bottom: -10px;
}

@media screen and (min-width: 768px) {
  .grid-overlay {
    right: 261px;
  }
}

@media screen and (min-width: 1068px) {
  .grid-overlay {
    right: 25%;
  }
}

@media screen and (min-width: 1200px) {
  .grid-overlay {
    right: 261px;
  }
}
