.header {
  min-height: 60px;
  background-color: #001428;
  color: white;
  display: flex;
  align-items: center;
}

.header-logo {
  position: absolute;
  left: 10px;
  top: 0px;
}

.header-logo > svg {
  position: relative;
  height: 60px;
}

.header-menu {
  display: none;
}

.header-text {
  padding: 15px;
  font-family: 'Rubik', sans-serif;
  cursor: pointer;
}

.header-text:hover {
  text-decoration: underline;
}

.router-header-text {
  text-decoration: none;
  color: white;
}

.router-underlined {
  text-decoration: underline;
}

.sub-header {
  background-color: #003263;
  color: #fff;
}
.sub-menu-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.sub-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mobile-menu {
  width: 100%;
  min-height: 60px;
}

.trigger-container {
  width: 100%;
  height: 60px;
}

.menu-trigger {
  position: absolute;
  right: 10px;
  height: 60px;
  display: flex;
  align-items: center;
}

.mobile-menu-items > a {
  display: block;
}

.mobile-menu-items {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.25s ease-in-out;
}

.mobile-menu-items.visible {
  max-height: 309px;
  padding-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .header-menu {
    display: flex;
    justify-content: center;
    width: 511px;
    margin-left: auto;
    margin-right: auto;
  }

  .header-text {
    padding: 10px;
  }

  .sub-menu-container {
    margin-right: auto;
    margin-left: auto;
    justify-content: flex-end;
    width: 511px;
  }

  .sub-menu {
    width: 105px;
  }

  .mobile-menu {
    display: none;
  }
}
