.content {
  margin-top: 30px;
  padding: 0 10px;
  max-width: 100%;
  min-height: 70vh;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.animated-background {
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f6f6;
  background: linear-gradient(to right, #f6f6f6 8%, #f0f0f0 18%, #f6f6f6 33%);
  background-size: 1000px 190px;
  position: relative;
}

@media screen and (min-width: 1200px) {
  .content {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}

.section {
  margin-bottom: 40px;
}

.section > h2 {
  text-align: left;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.col {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.justify-space-b {
  justify-content: space-between;
}

.show-btn {
  font-size: 16px;
  background-color: #001428;
  color: white;
  width: 250px;
  height: 50px;
  text-decoration: none;
  border: none;
  border-radius: 5px;
}

.show-btn:disabled,
.show-btn:hover.show-btn:disabled {
  background-color: grey;
  cursor: default;
}

.show-btn:hover {
  background-color: #0b2744;
  cursor: pointer;
}

.footer {
  background-color: #001428;
  width: 100%;
  padding: 20px 0;
  display: flex;
}
