.recommended-block {
  margin: 50px auto;
  padding: 30px;
  border-radius: 10px;
  background-color: #efefef;
}

.recommended-header{
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 28px;
}

h2.recommended-header {
  text-align: center;
}

.movie {
  flex: 1 1 100%;
  margin-bottom: 15px;
}

.movie-text{
  margin: 8px;
}

.select-movie-dropdown {
  max-width: 200px;
  margin: 0 auto 30px auto;
}

@media screen and (min-width: 768px) {
  .recommended-block {
    width: 420px;
  }
  
  .recommended-header {
    font-size: 36px;
  }

  .movie {
    flex: 1 1 33%;
    margin-bottom: 15px;
  }
}