.flex-playground-container {
  flex: 1 1 75%;
  height: 400px;
  border: 1px solid gray;
  display: flex;
}

.box1 {
  background-color: #d81b60;
}

.box2 {
  min-width: 30%;
  min-height: 20%;
  background-color: #1e88e5;
}

.box3 {
  min-width: 10%;
  min-height: 30%;
  background-color: #ffc107;
}

.flex {
  display: flex;
}

.row-fd {
  flex-direction: row;
}

.row-reverse-fd {
  flex-direction: row-reverse;
}

.column-fd {
  flex-direction: column;
}

.column-reverse-fd {
  flex-direction: column-reverse;
}

.flex-start-jc {
  justify-content: flex-start;
}

.flex-end-jc {
  justify-content: flex-end;
}

.center-jc {
  justify-content: center;
}

.space-between-jc {
  justify-content: space-between;
}

.space-around-jc {
  justify-content: space-around;
}

.space-evenly-jc {
  justify-content: space-evenly;
}

.flex-start-ai {
  align-items: flex-start;
}

.flex-end-ai {
  align-items: flex-end;
}

.center-ai {
  align-items: center;
}

.stretch-ai {
  align-items: stretch;
}

.baseline-ai {
  align-items: baseline;
}

.no-wrap-fw {
  flex-wrap: nowrap;
}

.wrap-fw {
  flex-wrap: wrap;
}

.wrap-reverse-fw {
  flex-wrap: wrap-reverse;
}

.text-align-l {
  text-align: left;
}

.flex-container-wrap-m {
  flex-wrap: wrap;
}

.reset-btn {
  font-size: 16px;
  background-color: #d5d5d5;
  color: #333;
  width: 250px;
  height: 50px;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  margin-top: 15px;
  align-self: center;
}

.reset-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .flex-container-wrap-m {
    flex-wrap: nowrap;
  }

  .reset-btn {
    margin-top: 0;
  }
}
