.material-icons {
  color: #d3d3d3;
}

.talent-card {
  display: flex;
  flex: 1 0 100%;
  flex-direction: column;
  margin-bottom: 40px;
}

.talent-info > p {
  margin: 8px;
}

.talent-img {
  font-size: 200px;
}

.talent-img-box {
  height: 170px;
  width: 170px;
  object-fit: cover;
  border-radius: 170px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.loading-talent-image {
  height: 170px;
  width: 170px;
  border-radius: 50%;
  margin: 15px auto;
}

.loading-talent-info:first-child {
  height: 24px;
}
.loading-talent-info {
  margin: 8px;
  height: 44px;
}

@media screen and (min-width: 768px) {
  .talent-card {
    flex: 1 0 50%;
  }
}

@media screen and (min-width: 1200px) {
  .talent-card {
    flex: 1 0 25%;
  }
}
