@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Rubik:wght@400;600&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
button {
  font-family: 'Rubik', sans-serif;
}

h1 {
  font-weight: 400;
  font-size: 48px;
}

h2 {
  font-weight: 400;
}

button {
  font-weight: 600;
}
